body{
  background-color: rgb(128, 127, 127);
}

/*Menu de navegacion CartWidget*/
h1{
  color:  rgb(248, 13, 146);
  font-size: 20px;

  width: 25%;
}
#cart-widget > span {
  color: rgb(248, 13, 146);
  padding-left: 1rem;
}

.img {
  width: 40px;
}

.navbar {
  padding: 10px 5%;
}

/* Item */

.item-card {
  width: 300px; /* Ancho fijo para el contenedor Card */
  margin: 10px; /* Espacio entre los elementos */

}

.item-image {
  height: 200px; /* Altura fija para la imagen */
  object-fit: cover; /* Ajusta la imagen dentro del contenedor sin distorsionarla */
}

.item-body {
  text-align: center;
  background-color: rgb(0, 0, 0);
  
}

.title{
  font-size: 16px;
  color: aliceblue;
}

.custom-button {
  background-color: rgb(248, 13, 146);
  color: aliceblue;
  border: none; 
  border-radius: 5px;
  padding: 10px 20px; 
  font-size: 16px; 
}

.custom-button:hover {
  background-color: rgb(244, 117, 242);
  color: #000000; 
}

/*ItemList*/

.item-list {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
  justify-content: space-around; /* Distribuye el espacio entre los elementos */
}

.item-card {
  flex: 0 1 calc(25% - 20px); /* Establece el ancho de cada elemento en un 25% del contenedor y deja un espacio de 20px entre ellos */
  margin: 10px; /* Espacio entre los elementos */
}

/*ItemDetailContainer*/

.item-detail-container {
  text-align: center;
}

.product-image {
  width: 30rem; 
  height: 30rem; 
  margin: 0 auto 20px; 
}

p{
  color: aliceblue;
  font-size: 20px;
  margin: 10px 40px;
}

.price{
  color: rgb(12, 255, 105);
  font-size: 30px;
}

