body {
  background-color: rgb(128, 127, 127);
}

/*Menu de navegacion CartWidget*/
h1 {
  color: rgb(248, 13, 146);
  font-size: 20px;

  width: 25%;
}
#cart-widget > span {
  color: rgb(248, 13, 146);
  padding-left: 1rem;
}

.img {
  width: 40px;
}

.navbar {
  padding: 10px 5%;
}

/* Item */

.item-card {
  width: 95%;
  margin: 10px;
}

.item-image {
  height: 200px;
  object-fit: cover;
}

.item-body {
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.title {
  font-size: 16px;
  color: aliceblue;
}

.custom-button {
  background-color: rgb(248, 13, 146);
  color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.custom-button:hover {
  background-color: rgb(244, 117, 242);
  color: #000000;
}

/*ItemList*/

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-card {
  flex: 0 1 calc(25% - 20px);
  margin: 10px;
}

/*ItemDetailContainer*/

.item-detail-container {
  text-align: center;
}

.product-image {
  width: 20rem;
  height: 20rem;
  margin: 0 auto 20px;
  object-fit: cover;
}

p {
  color: aliceblue;
  font-size: 20px;
  margin: 10px 40px;
}

.price {
  color: rgb(12, 255, 105);
  font-size: 30px;
}

/*ItemCount*/

.Counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Controls {
  display: flex;
  align-items: center;
}

.Button {
  padding: 5px 10px;
  margin: 10px 5px;
  font-size: 16px;
  background-color: rgb(248, 13, 146);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Button:hover {
  box-shadow: rgb(236, 96, 180) 3px 10px 15px;
}

.Number {
  margin: 0 10px;
  font-size: 18px;
}

/*Cart*/

.container {
  width: 100%;
}

.titulo {
  font-size: 30px;
  width: 100%;
  margin: 5% 0;
  text-align: center;
}

ul {
  font-size: 18px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  gap: 2%; 
}

ul li {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px; 
  margin-bottom: 0px;
  width: 100%; 
}

.btn-x {
  width: 40%;
  height: 5vh;
  margin-left: auto;
  background-color: rgb(248, 13, 146);
  color: white;
  border-radius: 5px;
  border-color: white;
}

.btn-container {
  text-align: right; 
}

.btn-clear {
  height: 5vh;
  background-color: rgb(248, 13, 146);
  color: white;
  border-radius: 5px;
  border-color: white;
}

.total-container {
  display: flex;
  justify-content: center;
}

.total{
  margin: 5% 0%;
  padding: 20px 0;
  color: rgb(12, 255, 105);
  font-size: 25px;
}

.checkout-compra{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 5vh;
}

.btn-checkout {
  font-size: 20px;
  width: fit-content; /* Ajusta el ancho al contenido */
  padding: 20px 40px; /* Ajusta el espacio alrededor del texto */
  background-color: rgb(12, 255, 105);
  color: #000000;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}


/*No hay productos en el carrito*/

.produc-cart{
  font-size: 30px;
  width: 100%;
  margin: 5% 0;
  text-align: center;
}

.btn-volver{
  text-align: center;
}


.volver{
  font-size: 20px;
  width: 30%; 
  padding: 20px 40px; 
  background-color: rgb(5, 3, 128);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}


/*checkoutForm*/

.checkout-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
}

.checkout-form {
  width: 300px; /* Ancho deseado del formulario */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkout-form label {
  display: block;
  margin-bottom: 10px;
}

.checkout-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.checkout-form button {
  width: 100%;
  padding: 10px;
  background-color: rgb(248, 13, 146);
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-form button:hover {
  box-shadow: rgb(236, 96, 180) 3px 10px 15px;
}

.volver-cart{
  font-size: 14px; 
  padding: 5px 10px; 
  background-color: rgb(5, 3, 128);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  ul {
    grid-template-columns: repeat(
      2,
      1fr
    );
  }

  ul li:nth-child(1),
  ul li:nth-child(2) {
    width: 100%; /* Ancho del 100% para ocupar toda la cuadrícula */
  }

  .btn-x {
    width: 20%;
    height: 5vh;
  }

  .btn-clear {
    display: flex;
    width: 25%;
    margin: 0;
    height: 6vh;
    margin-left: auto;
  }
  .img-clear {
    margin: 5% 10%;
  }

}

@media screen and (max-width: 480px) {
  ul {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Cambia a 1 columna en pantallas aún más pequeñas */
  }

  .btn-x {
    width: 25%;
    height: 6vh;
    margin-inline: auto; /* Mueve el botón hacia la derecha */
  }
}


